*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    list-style: none;
}

body{
    background: url("./img/background\ \(1\).png");
}



.container{
    background-color: #0957cd48;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    margin: 100px auto 0;
}

.input-task{
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
}

.botao-adicionar {
    background-color: #0957cd48;
    color: #ffffff;
border: none;
border-radius: 5px;
height: 40px;
font-size: 17px;
padding:  0 15px;
float: right;
cursor:pointer ;
font-weight: 700;
}

.botao-adicionar:hover{
    opacity: 0.8;
}

.botao-adicionar:active{
    opacity: 0.6;
}


.list-task{
    width: 100%;
    margin-top: 30px;
}

.task {
    background-color: #f2f2f2;
box-shadow: 1px 4px 10px #000000;
display: flex;
justify-content: space-between;
padding: 0 15px;
border-radius: 5px;
margin-bottom: 20px;
cursor: pointer;
}


img{
    height: 25px;
    opacity: 0;
transition: opacity 0.5s ease-in-out;
}

.task:hover img{
opacity: 1;

}
.done {
background-color: deepskyblue;
text-decoration: line-through;
}